In [14]:
import json 
import pandas as pd

In [7]:
with open('FakeUserData/activitiesFemke.json') as json_file:
    users_activities = json.load(json_file)

In [21]:
df1 = pd.read_json("FakeUserData/activitiesFemke.json")
df2 = pd.read_json("FakeUserData/activitiesLena.json")
df3 = pd.read_json("FakeUserData/activitiesMaarten.json")
df4 = pd.read_json("FakeUserData/activitiesMariaenZak.json")
#df5 = pd.read_json("FakeUserData/activitiesFemke.json")

In [19]:
df1

        content_id     rating  user_id                   datetime
0    VPWON_1319989          4   femke1 2023-03-31 11:47:46.826689
1    VPWON_1197680          3   femke1 2023-03-31 11:49:10.123557
2    VPWON_1197680          4   femke1 2023-03-31 11:49:12.608485
3    VPWON_1295416          5   femke1 2023-03-31 11:52:52.144806
4    VPWON_1310212          4   femke1 2023-03-31 11:53:21.703564
..             ...        ...      ...                        ...
166  VPWON_1257907          4  femke10 2023-03-31 16:52:51.283018
167  VPWON_1238476  no rating  femke10 2023-03-31 16:54:29.325468
168  VPWON_1238476          4  femke10 2023-03-31 16:54:34.736525
169  VPWON_1315855          3  femke10 2023-03-31 16:55:32.430902
170  VPWON_1315858          4  femke10 2023-03-31 16:56:19.388882

[171 rows x 4 columns]

In [22]:
res = pd.concat([df1,df2,df3,df4], axis=0, ignore_index=True)

In [26]:
res.to_json("test.json")